.user {
  display: flex;
  /* display: inline-block; */
  align-items: center;
  /* top, right, bottom, left */
  margin: 0 auto 12px auto;
}
.picture {
  /* max-width: 400px */
  width: 22rem;
}
.user:last-child {
  margin-bottom: 0;
}
.avatar {
  flex: 0 0 96px;
  width: 96px;
  height: 96px;
  margin: 0;
}
.description {
  /* display: flex; */
  flex: 1;
  margin-left: 18px;
  padding: 12px;
}
.username {
  margin: 0 0 12px 0;
  padding: 0;
}
.excerpt {
  margin: 0;
}
.question {
  float: left;
  padding-right: 1rem
}
.answer {
  float:right;
  padding-left: 1rem
}
.icon {
  width: 200px;
}
