/*******************HOME PAGE*******************/
.user {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 2rem auto 2rem auto;
  font-family: Jura
}

.picture {
  width: 400px;
  margin-right: 1rem;
  margin-bottom: 1rem
}

.description {
  flex: 1;
}

.username {
  font-size: 2rem;
  font-weight: bold;
}

.excerpt {
  margin: 0;
}

.pageLinks {
  margin-left: 3px
}
/***********************************************/

.user:last-child {
  margin-bottom: 0;
}
.avatar {
  flex: 0 0 96px;
  width: 96px;
  height: 96px;
  margin: 0;
}



/* .question {
  float: left;
  padding-right: 1rem
}
.answer {
  float:right;
  padding-left: 1rem
} */

/**********SKILL PAGE**********/
.skillIconContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
/******************************/

/* .icon {
  width: 200px;
  margin: 0.5rem
} */

/*********ABOUT PAGE*********/
.dialogueContainer {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
/****************************/

.indexMargins {
  margin: 2rem
}



/***********PROJECT PAGE***********/
.projectContainer {
  margin-top: 1.5rem;
  font-family: Jura
}
/**********************************/


/***********404 PAGE***********/
.errorContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  margin: 0.5rem auto 0.5rem auto;
  font-family: "Jura"
}

.errorNumberContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 11rem
}

.errorImage {
  height: 7.5rem;
  width: 7.5rem;
  margin-top: 0.5rem
}

.errorText {
  font-size: 24px;
  font-weight: bold;
  text-align: center
}

.cakeImage {
  height: 15rem;
  width: 15rem
}
/******************************/

/**********BLOG PAGE**********/
.blogFont {
  font-family: sans-serif;
}

.blogContainer {
  margin-top: 1.5rem
}

.paginationContainer {
  display: flex;
  justify-content: center
}
/*****************************/

@media (max-width: 370px) {
  .errorNumberContainer {
    font-size: 9rem
  }

  .errorImage {
    height: 6rem;
    width: 6rem
  }
}
