.question {
  /* originally mine */
  /* float: left;
  padding-right: 1rem; */
}
.answer {
  /* originally mine
  float:right;
  padding-left: 4rem;
  /* padding-right: 4rem */
}
.icon {
  height: 175px;
  width: 175px;
  margin: 2rem 0.5rem 2rem 0.5rem;
  text-align: center;
}

/* .iframeContainer{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
}
.iframeContainer iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
} */

.iframeContainer {
  height: 50vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.header {
  background: black;
  margin-bottom: '1.45rem'
}

.headerContainer {
  max-Width: 960px;
  margin: 0 auto;
  padding: 1.45rem 1.0875rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family: "Jura"
}

.margins {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem
}

.margins .name {
  font-size: 50px;
  color: white;
  text-decoration: none
}

.margins .links {
  font-size: 28px;
  color: white;
  float: right;
  padding-right: 1rem;
  text-decoration: none
}

@media (min-width: 450px) and (max-width: 959px) {
  .margins .name {
    font-size: 40px;
  }

  .margins .links {
    font-size: 24px;
  }
}

@media (max-width: 459px) {
  .margins .name {
    font-size: 30px;
  }

  .margins .links {
    font-size: 18px;
  }
}
