:root {
  --maxWidth: 960px;
  --footerHeight: 13rem;
}

/****************SHARED****************/
.title {
  color: blue;
  text-decoration: none;
}
/**************************************/

/***************SKILLS***************/
.iconLinkContainer {
  margin: 2rem 0.5rem 2rem 0.5rem;
}

.iconLinkContainer .image {
  height: 175px;
  width: 175px;
}
/************************************/

/***************HEADER***************/
.header {
  background: black;
}

.headerContainer {
  max-Width: var(--maxWidth);
  margin: 0 auto;
  padding: 1.45rem 1.0875rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family: Jura
}

.margins {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem
}

.margins .name {
  font-size: 50px;
  color: white;
  text-decoration: none
}

.margins .links {
  font-size: 28px;
  color: white;
  float: right;
  padding-right: 1rem;
  text-decoration: none
}
/************************************/

/***************FOOTER***************/
.footer {
  background: black;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: var(--footerHeight);
}

.footerContainer {
  max-Width: var(--maxWidth);
  margin: 0 auto;
  font-family: Jura;
  color: white;
  padding: 1.45rem 1.0875rem;
}

.footerContent {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  margin: 0.5rem auto 0.5rem auto;
}

.footerIntro {
  font-size: 24px;
  margin: 0
}

.linkFormat {
  margin-left: 10px
}

.socialMediaLink {
  color: white
}

.footerIcon {
  height: 24px;
  width: 24px
}
/************************************/

/***************BLOG***************/
.blogTitle {
  font-weight: bold;
}

.blogRedirect {
  margin-left: 3px
}
/**********************************/

/******************PROJECT******************/
.techContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.roundedRectangle {
  padding: 0.25rem;
  background: grey;
	border-radius: 0.5rem;
  font-weight: bold;
  color: white;
  margin: 0.25rem
}

.madeWith {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 22px
}

.projectLinksContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 0.5rem
}

.iframeContainer {
  height: 50vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
/*******************************************/

/**********FOR THE TEXT BUBBLES**********/
.messages {
  display: flex;
  flex-direction: column;
}

.message {
  border-radius: 20px;
  padding: 8px 15px;
  display: inline-block;
}

.yours {
  align-items: flex-start;
}

.yours .message {
  margin-right: 25%;
  background-color: #eae7e7;
  position: relative;
  color: black
}

.yours .message.last:before {
  content: "";
  position: absolute;
  z-index: 0;
  bottom: 0;
  left: -7px;
  height: 20px;
  width: 20px;
  background: #eae7e7;
  border-bottom-right-radius: 15px;
}
.yours .message.last:after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: -10px;
  width: 10px;
  height: 20px;
  background: white;
  border-bottom-right-radius: 10px;
}

.mine {
  align-items: flex-end;
}

.mine .message {
  color: blue;
  margin-left: 25%;
  background: #b9d5fb;
  background-attachment: fixed;
  position: relative;
}

.mine .message.last:before {
  content: "";
  position: absolute;
  z-index: 0;
  bottom: 0;
  right: -8px;
  height: 20px;
  width: 20px;
  background: #b9d5fb;
  background-attachment: fixed;
  border-bottom-left-radius: 15px;
}

.mine .message.last:after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: -10px;
  width: 10px;
  height: 20px;
  background: white;
  border-bottom-left-radius: 10px;
}

.message p{
  /* remove webkit p margins */
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}
/****************************************/

/*****************LAYOUT*****************/
.center {
  margin: 0 auto;
  max-width: var(--maxWidth);
  padding: 0 1.0875rem 1.45rem;
  padding-bottom: var(--footerHeight)
}
/****************************************/

@media (min-width: 960px) {
  /***************SKILLS***************/
  .iconLinkContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .iconLinkContainer .image:hover + .skillLinks {
    opacity: 1
  }

  .iconLinkContainer .skillLinks:hover {
    opacity: 1
  }

  .iconLinkContainer .image:hover {
    opacity: 0.4;
    z-index: 0
  }

  .iconLinkContainer .skillLinks {
    font-size: 1.5rem;
    background-color: white;
    border: black;
    border-style: double;
    border-width: thin;
    position: absolute;
    z-index: 1;
    opacity: 0;
    text-align: center;
    font-family: Jura
  }
  /************************************/
}

@media (max-width: 959px) {
  /***************SKILLS***************/
  .iconLinkContainer {
    text-align: center
  }

  .iconLinkContainer .skillLinks {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    text-decoration: underline;
    font-family: Jura
  }
  /************************************/
}

@media (min-width: 450px) and (max-width: 959px) {
  /***************HEADER***************/
  .margins .name {
    font-size: 40px;
  }

  .margins .links {
    font-size: 24px;
  }
  /************************************/
}

@media (max-width: 459px) {
  /***************HEADER***************/
  .margins .name {
    font-size: 30px;
  }

  .margins .links {
    font-size: 18px;
  }
  /************************************/
}

@media (max-width: 370px) {
  /***************FOOTER***************/
  .footerIntro {
    font-size: 18px
  }

  .footerIcon {
    height: 18px;
    width: 18px
  }

  .linkFormat {
    font-size: 12px
  }
  /************************************/
}
